* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: white;
    
}


/* layout**/
.container {
    width: 99%;
    /* background-color: red; */
    height: 100%;
    margin: auto;
      

}

.container-header {
    
    display: flex;
    align-items: center;
    

}

/**logo***/
.logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;


    /* overflow: hidden; */
}

.logo {
    width: 120px;
    height: 50px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
}

.dotin {
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}

/***********addresss************/
.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}

.icon-location {
    margin-right: 3px;
}
